<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 30px">Dealio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [color]="primary">
  <ion-card [color]="primary">
    <ion-card-header>
      <ion-card-title>Sign In</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <form style="margin-top: 10%;" [formGroup]="signInForm">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input  type="email" formControlName="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password" required="true"></ion-input>
    </ion-item>
    <ion-button style="margin-top: 15px;" type="submit" expand="block" (click)="signInSubmit()">Sign In</ion-button>
  </form>
  <ion-spinner *ngIf="loading$ | async" style="display: block; margin: auto;" name="crescent"></ion-spinner>
</ion-card-content>
</ion-card>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Don't have an account?
        </ion-card-title>
        <ion-card-subtitle>
          Create one for free
        </ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>
    <ion-button expand="block" color="secondary" [routerLink]="['/sign-up']">Sign Up</ion-button>
  </ion-card-content>
  </ion-card>
  </div> 
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Managers
        </ion-card-title>
        <ion-card-subtitle>
          Add your establishment to Dealio
        </ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>
    <ion-button expand="block" color="dark" [routerLink]="['/register-establishment']">Register</ion-button>
  </ion-card-content>
  </ion-card>
  </div> 
</ion-content>
