<!--<div>
  <div class="scrolling-wrapper">
    <ion-card class="card ion-activatable ripple-parent" *ngFor="let d of days" (click)="cardTouched(d)">
      <ion-card-header>
        <ion-card-subtitle>{{d}}</ion-card-subtitle>
        <ion-card-title>{{d}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{d}}
      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </div>
</div>-->

<div style="margin-top: 20px;">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon = 'chevron-down-circle-outline'
    refreshingSpinner = 'circles'
    ></ion-refresher-content>
  </ion-refresher>
<swiper #swiper class="mySwiper" 
[pagination]="{type: 'progressbar'}"
[navigation]="true"
[rewind]="true"
(slideChange)="onSlideChange()"
[initialSlide]="initialSlide"
>
  <ng-template swiperSlide *ngFor="let d of days">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{d}}</ion-card-title>
        <ion-card-subtitle>{{currNumDeals}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-template>
 
</swiper>

<ion-spinner *ngIf="loading$ | async" style="display: block; margin: auto;" name="crescent"></ion-spinner>

<div *ngIf="currIndex == 1">
    <ion-item *ngFor="let deal of monDeals">
      <ion-thumbnail>
        <img src="https://picsum.photos/100" />
      </ion-thumbnail>
      <ion-card style="width: 100%;">
        <ion-card-header>
          <ion-card-title>{{deal.title}}</ion-card-title>
          <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{deal.description}}
        </ion-card-content>
      </ion-card>
    </ion-item>
</div>
<div *ngIf="currIndex == 2">
  <ion-item *ngFor="let deal of tueDeals">
    <ion-thumbnail>
      <img src="https://picsum.photos/100" />
    </ion-thumbnail>
    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{deal.title}}</ion-card-title>
        <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{deal.description}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>
<div *ngIf="currIndex == 3">
  <ion-item *ngFor="let deal of wedDeals">
    <ion-thumbnail>
      <img src="https://picsum.photos/100" />
    </ion-thumbnail>
    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{deal.title}}</ion-card-title>
        <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{deal.description}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>
<div *ngIf="currIndex == 4">
  <ion-item *ngFor="let deal of thurDeals">
    <ion-thumbnail>
      <img src="https://picsum.photos/100" />
    </ion-thumbnail>
    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{deal.title}}</ion-card-title>
        <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{deal.description}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>
<div *ngIf="currIndex == 5">
  <ion-item *ngFor="let deal of friDeals">
    <ion-thumbnail>
      <img src="https://picsum.photos/100" />
    </ion-thumbnail>
    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{deal.title}}</ion-card-title>
        <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{deal.description}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>
<div *ngIf="currIndex == 6">
  <ion-item *ngFor="let deal of satDeals">
    <ion-thumbnail>
      <img src="https://picsum.photos/100" />
    </ion-thumbnail>
    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{deal.title}}</ion-card-title>
        <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{deal.description}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>
<div *ngIf="currIndex == 0">
  <ion-item *ngFor="let deal of sunDeals">
    <ion-thumbnail>
      <img src="https://picsum.photos/100" />
    </ion-thumbnail>
    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{deal.title}}</ion-card-title>
        <ion-card-subtitle *ngIf="deal.allDay === false">{{deal.fromTime}} - {{deal.toTime}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="deal.allDay === true">All Day Deal</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{deal.description}}
      </ion-card-content>
    </ion-card>
  </ion-item>
</div>
</div>